{% extends 'base.html' %}

{% block title %}Табло тенниса{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1> Match score</h1>
    </div>
        <div class="players-container">
            <div class="player-score"></div>
            <div class="player-score">Sets</div>
            <div class="player-score">Games</div>
            <div class="player-score">Points</div>
            <div class="player-score"></div>
        </div>
        <div class="players-container">
            <div class="player-score">{{ player1 }}</div>
            <div class="player-score match-color">{{ score[player1]["match_score"] }}</div>
            <div class="player-score set-color">{{ score[player1]["set_score"] }}</div>
            {% if score[player1]["tie_break_score"] %}
            <div class="player-score game-color">{{ score[player1]["tie_break_score"] }}</div>
            {% else %}
            <div class="player-score game-color">{{ score[player1]["game_score"] }}</div>
            {% endif %}
            <div class="player-winner">
                {% if winner == None %}
                <form action="/match-score?uuid={{ uuid }}" method="POST">
                        <input type="hidden" name="uuid" value={{ uuid }}>
                        <input type="hidden" name="point" value="1">
                        <button class="button_match_score" type="submit">+</button>
                </form>
                {% elif winner == player1 %}
                🏆
                {% endif %}
            </div>
        </div>
        <div class="players-container">
            <div class="player-score">{{ player2 }}</div>
            <div class="player-score match-color">{{ score[player2]["match_score"] }}</div>
            <div class="player-score set-color">{{ score[player2]["set_score"] }}</div>
            {% if score[player2]["tie_break_score"] %}
            <div class="player-score game-color">{{ score[player2]["tie_break_score"] }}</div>
            {% else %}
            <div class="player-score game-color">{{ score[player2]["game_score"] }}</div>
            {% endif %}
            <div class="player-winner">
                {% if winner == None %}
                <form action="/match-score?uuid={{ uuid }}" method="POST">
                        <input type="hidden" name="uuid" value={{ uuid }}>
                        <input type="hidden" name="point" value="2">
                        <button class="button_match_score" type="submit">+</button>
                </form>
                {% elif winner == player2 %}
                🏆
                {% endif %}
            </div>
        </div>
        {% if winner %}
        <div class="finish-container">
            <a class="button_score_matches" href="matches?filter_by_player_name={{ winner }}">Завершенные матчи</a>
        </div>
        {% endif %}
</div>
{% endblock %}