<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание матча</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
    <body>
        <div class="container">
            <form action="/new-match" method="POST">
                <div class="players">
                    <div class="player">Игрок 1:</div>
                </div>
                <div class="inputs">
                    <input type="text" name="player1" maxlength="12" placeholder="Введите имя игрока 1" required>
                </div>
                <div class="players">
                    <div class="player">Игрок 2:</div>
                </div>
                <div class="inputs">
                    <input type="text" name="player2" maxlength="12" placeholder="Введите имя игрока 2" required>
                </div>
                <button type="submit">Начать игру</button>
            </form>
        </div>
    </body>
</html>